<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
  <%= javascript_include_tag "servings-buttons" %>
  <%= javascript_include_tag "time-ago-buttons" %>
<% end %>

<div class="block">
  <%= form_with model: meal do |form| %>
    <h2><%= title %></h2>
  
    <% if meal.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(meal.errors.count, "error") %> prevented this meal from being saved:</h3>
        <ul>
          <% meal.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="input-pair">
      <%= form.label :food_id %>
      <div class="select-wrapper">
        <%= form.grouped_collection_select :food_id,
          group_by_favorite(foods),
          -> (el) {el[:foods]},
          -> (el) {el[:is_favorite] ? 'Favorites' : 'Other'},
          :id,
          -> (f) {"#{f.name} (#{number_with_precision(f.serving_size,
          strip_insignificant_zeros: true)} #{f.serving_unit})"},
          include_blank: true  %>
        <%= icon('fa-solid', 'caret-down') %>
      </div>
    </div>
  
    <div class="input-pair">
      <%= form.label :servings %>
      <%= form.number_field :servings, min: 0.000001, step: 'any' %>
      <div class="small-button-row">
        <button class="servings-button" type="button">0.5</button>
        <button class="servings-button" type="button">1</button>
        <button class="servings-button" type="button">1.5</button>
        <button class="servings-button" type="button">2</button>
        <button class="servings-button" type="button">3</button>
        <button class="servings-button" type="button">4</button>
      </div>
    </div>
  
    <div class="input-pair">
      <%= form.label :consumed_on %>
      <%= form.datetime_local_field :consumed_on, step: 1 %>
      <div class="small-button-row">
        <button class="time-ago-button" type="button">-0:00</button>
        <button class="time-ago-button" type="button">-0:15</button>
        <button class="time-ago-button" type="button">-0:30</button>
        <button class="time-ago-button" type="button">-1:00</button>
        <button class="time-ago-button" type="button">-2:00</button>
      </div>
    </div>
  
    <div class="input-pair">
      <%= form.label :notes %>
      <%= form.text_area :notes %>
    </div>
  
    <%= form.submit button_text %>
  <% end %>
</div>
