<div class="container">
  <%= link_to root_path, class: "header-link" do %>
    <h1>Noms</h1>
  <% end %>
  
  <div class="block">
    <h2>Meals</h2>
    <div class="day-group">

      <%= link_to "First day", meals_path %>
      <%= link_to "Last day", meals_path(last_day_params) %>
      <% if @calendar[:year].pages > 1 %>
        <%== pagy_nav(@calendar[:year]) %>
      <% end %>
      <%== pagy_nav(@calendar[:month]) %>
      <%== pagy_nav(@calendar[:day]) %>
      
      <%== @calendar[:day].label(format: '%B %-d, %Y') %>

      <ul>
        <% @meals.includes(:food).each do |meal| %>
          <li>
            <div class="icons">
              <%= icon('fa-solid', 'angle-right', class: "icon-default") %>
              <%= icon('fa-solid', 'arrow-right', class: "icon-hover") %>
            </div>
            <%= link_to "#{meal.food.name} (#{time_ago_in_words meal.consumed_on} ago)", meal %>
          </li>
        <% end %>
      </ul>
    </div>
    <% if @pagy.pages > 1 %>
      <%== pagy_nav(@pagy) %>
    <% end %>
  </div>

</div>
