<div class="container">
  <%= link_to root_path, class: "header-link" do %>
    <h1>Noms</h1>
  <% end %>
  
  <div class="block meals-index">
    <h2>Meals</h2>

    <div class="nav">
      <%= link_to meals_path do %>
        <%= icon('fa-solid', 'angles-left', title: "First day") %>
      <% end %>

      <%= link_to meals_path(prev_day_params(@calendar)) do %>
        <%= icon('fa-solid', 'angle-left', title: "Previous day") %>
      <% end %>

      <%== render partial: 'pagy/date_select', locals: { pagy: @calendar[:year] } %>
      <%== render partial: 'pagy/date_select', locals: { pagy: @calendar[:month] } %>
      <%== render partial: 'pagy/date_select', locals: { pagy: @calendar[:day] } %>

      <%= link_to meals_path(next_day_params(@calendar)) do %>
        <%= icon('fa-solid', 'angle-right', title: "Next day") %>
      <% end %>

      <%= link_to meals_path(last_day_params) do %>
        <%= icon('fa-solid', 'angles-right', title: "Last day") %>
      <% end %>
    </div>
  

    <div class="day-data">
      <div><h3><%== @calendar[:day].label(format: '%A') %></h3></div>
      <div class="stat-blocks">
        <div class="stat-block">
          <h4>Calories</h4>
          <p><%= @meals_calories.round %></p>
        </div>
        <div class="stat-block">
          <h4>Protein</h4>
          <p><%= @meals_protein.round %></p>
        </div>
      </div>
    </div>
      
    <div class="day-group">
      <ul>
        <% @meals.includes(:food).each do |meal| %>
          <li>
            <div class="icons">
              <%= icon('fa-solid', 'angle-right', class: "icon-default") %>
              <%= icon('fa-solid', 'arrow-right', class: "icon-hover") %>
            </div>
            <%= link_to "#{meal.food.name}", meal %>
          </li>
        <% end %>
      </ul>
    </div>
    <% if @pagy.pages > 1 %>
      <%== pagy_nav(@pagy) %>
    <% end %>
  </div>
</div>