<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<div class="container">
  <%= render 'shared/website_title'%>

  <div class="block">
    <h2><%= @meal.food.name %></h2>
    <% if current_user != @meal.user%>
      <p><strong>Creator:</strong> <%= @meal.user.email %></p>
    <% end %>
    <p><strong>Serving:</strong> <%= "#{number_with_precision(
      @meal.food.serving_size * @meal.servings,
      strip_insignificant_zeros: true)} #{@meal.food.serving_unit}" %></p>
    <p><strong>Datetime:</strong> <%= @meal.consumed_on.to_formatted_s(:long) %></p>
    <p><strong>Total calories:</strong> <%= number_with_precision(
      @meal.calories, strip_insignificant_zeros: true) %></p>
    <p><strong>Total protein:</strong> <%= number_with_precision(
      @meal.protein, strip_insignificant_zeros: true) %></p>
    
    <% unless @meal.notes.blank?%>
    <p><strong>Notes:</strong> <%= @meal.notes %></p>
    <% end %>
    

    <% if @is_meal_owner%>
      <ul class="list-with-links">
        <li>
          <div class="icons">
            <%= icon('fa-solid', 'angle-right', class: "icon-default") %>
            <%= icon('fa-solid', 'arrow-right', class: "icon-hover") %>
          </div>
          <%= link_to "Edit", edit_meal_path(@meal) %>
        </li>
        <li>
          <div class="icons">
            <%= icon('fa-solid', 'angle-right', class: "icon-default") %>
            <%= icon('fa-solid', 'arrow-right', class: "icon-hover") %>
          </div>
          <%= link_to "Delete", meal_path(@meal), data: {
                          turbo_method: :delete,
                          turbo_confirm: "Are you sure?"
                        } %>
        </li>
      </ul>
    <% end %>
  </div>
</div>