<%= form_with model: food do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% food.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <% food.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :serving_size %><br>
    <%= form.number_field :serving_size %>
    <% food.errors.full_messages_for(:serving_size).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :serving_unit %><br>
    <%= form.text_field :serving_unit %>
    <% food.errors.full_messages_for(:serving_unit).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :calories %><br>
    <%= form.number_field :calories %>
    <% food.errors.full_messages_for(:calories).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :protein %><br>
    <%= form.number_field :protein %>
    <% food.errors.full_messages_for(:protein).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
