<div class="container">
  <%= render 'shared/website_title'%>
  
  <div class="block">
    <h2>Foods</h2>
    <% @foods_grouped_by_first_letter.keys.each do |letter| %>
      <div class="letter-group">
        <h3><%= letter %></h3>
        <ul>
        <% @foods_grouped_by_first_letter[letter].each do |food| %>
          <li>
            <div class="icons">
              <%= icon('fa-solid', 'angle-right', class: "icon-default") %>
              <%= icon('fa-solid', 'arrow-right', class: "icon-hover") %>
            </div>
            <%= link_to food.name, food %>
            <% if food.is_favorite %>
              <%= icon('fa-solid', 'star') %>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>