<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<div class="container">
  <%= render 'shared/website_title'%>

  <div class="block">
    <h2><%= @food.name %></h2>
    
    <% if @food.is_favorite%>
      <p>
        <%= icon('fa-solid', 'star') %>
        <strong>Favorite</strong>
      </p>
    <% end %>
    <p><strong>Serving:</strong> <%= "#{number_with_precision(
      @food.serving_size, strip_insignificant_zeros: true)} #{@food.serving_unit}" %></p>
    <p><strong>Calories:</strong> <%= number_with_precision(
      @food.calories, strip_insignificant_zeros: true) %></p>
    <p><strong>Protein:</strong> <%= number_with_precision(
      @food.protein, strip_insignificant_zeros: true) %></p>
    <% unless @food.notes.blank?%>
      <p><strong>Notes:</strong> <%= @food.notes %></p>
    <% end %>
    
    <% if @is_food_owner%>
      <ul class="list-with-links">    
        <li>
          <div class="icons">
            <%= icon('fa-solid', 'angle-right', class: "icon-default") %>
            <%= icon('fa-solid', 'arrow-right', class: "icon-hover") %>
          </div>
          <%= link_to "Edit", edit_food_path(@food) %>
        </li>
        <li>
          <div class="icons">
            <%= icon('fa-solid', 'angle-right', class: "icon-default") %>
            <%= icon('fa-solid', 'arrow-right', class: "icon-hover") %>
          </div>
          <%= link_to "Delete", food_path(@food), data: {
                          turbo_method: :delete,
                          turbo_confirm: "Are you sure?"
                        } %>
        </li>
      </ul>
    <% end %>
  </div>
</div>