<div class="container">
  <%= link_to root_path, class: "header-link" do %>
    <h1>Noms</h1>
  <% end %>

  <div class="block">
    <h2><%= @food.name %></h2>
    
    <% if @food.is_favorite%>
      <p><strong>⭐️ Favorite </strong></p>
    <% end %>
    <p><strong>Serving:</strong> <%= @food.serving %></p>
    <p><strong>Calories:</strong> <%= @food.calories %></p>
    <p><strong>Protein:</strong> <%= @food.protein %></p>
    <% unless @food.notes.blank?%>
      <p><strong>Notes:</strong> <%= @food.notes %></p>
    <% end %>
    
    <ul>
    
      <li>
        <div class="icons">
          <%= icon('fa-solid', 'angle-right', class: "icon-default") %>
          <%= icon('fa-solid', 'arrow-right', class: "icon-hover") %>
        </div>
        <%= link_to "Edit", edit_food_path(@food) %>
      </li>
      <li>
        <div class="icons">
          <%= icon('fa-solid', 'angle-right', class: "icon-default") %>
          <%= icon('fa-solid', 'arrow-right', class: "icon-hover") %>
        </div>
        <%= link_to "Destroy", food_path(@food), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      } %>
      </li>
    </ul>
  </div>
</div>