<h1><%= @food.name %></h1>

<% unless @food.description.blank?%>
  <p><strong>Description:</strong> <%= @food.description %></p>
<% end %>
<p><strong>Serving:</strong> <%= "#{@food.serving_size} #{@food.serving_unit}"%></p>
<p><strong>Calories:</strong> <%= @food.calories %></p>
<p><strong>Protein:</strong> <%= @food.protein %></p>

<ul>
  <li><%= link_to "Edit", edit_food_path(@food) %></li>
  <li><%= link_to "Destroy", food_path(@food), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
  <li><%= link_to "All foods", foods_path %></li>
</ul>