<h1>Dashboard</h1>
<p><strong>Food count:</strong> <%= @food_count %></p>
<p><strong>Meal count:</strong> <%= @meal_count %></p>
<p><strong>Calories consumed today:</strong> <%= @meals_today.sum(&:calories).round %></p>
<p><strong>Protein consumed today:</strong> <%= @meals_today.sum(&:protein).round %></p>

<h3>Meals</h3>
<ul>
  <li><%= link_to "New meal", new_meal_path %></li>
  <li><%= link_to "All meals", meals_path %></li>
  <li><%= link_to "Last meal", @meal_last %></li>
</ul>

<h3>Foods</h3>
<ul>
  <li><%= link_to "New food", new_food_path %></li>
  <li><%= link_to "All foods", foods_path %></li>
</ul>
