<div class="container">

  <h1>Noms</h1>

  <div class="block stat-block-with-title">
    <h2 class="block-title">Today</h2>

    <div class="stat-block-multiple">
      <div class="stat-block">
        <h3>Calories</h3>
        <p><%= @calories_today.round %></p>
      </div>
      <div class="stat-block">
        <h3>Protein</h3>
        <p><%= @protein_today.round %></p>
      </div>
    </div>
  </div>

  <% if @meal_last %>
    <div class="block stat-block-with-title">
      <div class="header-container">
        <%= link_to @meal_last, class: "block-title-link" do %>
          <h2 class="block-title">Last meal</h2>
          <div class="icons">
            <%= icon('fa-solid', 'angle-right', class: "icon-default") %>
            <%= icon('fa-solid', 'arrow-right', class: "icon-hover") %>
          </div>
        <% end %>
        <h2 class="food-name"><%= @meal_last.food.name %></h2>
      </div>

      <div class="stat-block-multiple">
        <div class="stat-block">
          <h3>Calories</h3>
          <p><%= @meal_last.calories.round %></p>
        </div>
        <div class="stat-block">
          <h3>Protein</h3>
          <p><%= @meal_last.protein.round %></p>
        </div>
      </div>
    </div>
  <% end %>
  
  <div class="link-block-container">
    <div class="block link-block">
      <h3>Meals</h3>
      <div class="link-buttons">
        <%= link_to new_meal_path do %>
          <%= icon('fa-solid', 'plus', class: "icon-default") %>
          <p>New</p>
        <% end %>
        <%= link_to meals_path(last_day_params) do %>
          <%= icon('fa-solid', 'list', class: "icon-default") %>
          <p>All</p>
        <% end %>
      </div>
    </div>
    
    <div class="block link-block">
      <h3>Foods</h3>
      <div class="link-buttons">
        <%= link_to new_food_path do %>
          <%= icon('fa-solid', 'plus', class: "icon-default") %>
          <p>New</p>
        <% end %>
        <%= link_to foods_path do %>
          <%= icon('fa-solid', 'list', class: "icon-default") %>
          <p>All</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="user-session-status">
    <% if current_user %>
      <p class="current-user">Signed in as <%= current_user.email %></p>
      <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete}, class: "sign-in-out" %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "sign-in-out" %>
    <% end %>
  </div>

</div>
