<h1>Dashboard</h1>
<p><strong>Food count:</strong> <%= @foods.count %></p>
<p><strong>Meal count:</strong> <%= @meals.count %></p>
<p><strong>Calories consumed:</strong> <%= @meals.sum(&:calories) %></p>
<p><strong>Protein consumed:</strong> <%= @meals.sum(&:protein) %></p>
<p><strong>Calories consumed today:</strong> <%= @meals_today.sum(&:calories) %></p>
<p><strong>Protein consumed today:</strong> <%= @meals_today.sum(&:protein) %></p>

<ul>
  <li><%= link_to "All foods", foods_path %></li>
  <li><%= link_to "All meals", meals_path %></li>
  <li><%= link_to "Last meal", @meals.last %></li>
  <li><%= link_to "New food", new_food_path %></li>
  <li><%= link_to "New meal", new_meal_path %></li>
</ul>
